/*
 * SCSS skew mixin by Frank LANG
 * https://github.com/franklang/scss-util
 * DEMO: https://jsfiddle.net/utphzm93/6/
 * Inspired by "Skew one side of element" codepen by Sami Laitinen
 * https://codepen.io/o/pen/wosfH
 */

@mixin skew(
  $side: both,
  $zindex: -1,
  $deg: -20deg,
  $width: 30px,
  $bg: #fff) {

  position: relative;

  @if $side == left {
    &:before {
      z-index: $zindex;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      display: block;
    }
    &:before {
      left: -$width/2;
      width: $width;
      background: $bg;
      transform: skew($deg);
    }
  }
  @if $side == right {
    &:after {
      z-index: $zindex;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      display: block;
    }
    &:after {
      right: -$width/2;
      width: $width;
      background: $bg;
      transform: skew($deg);
    }
  }
  @else if $side == both {
    &:after,
    &:before {
      z-index: $zindex;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      display: block;
    }
    &:before {
      left: -$width/2;
      width: $width;
      background: $bg;
      transform: skew($deg);
    }    
    &:after {
      right: -$width/2;
      width: $width;
      background: $bg;
      transform: skew($deg);
    }
  }
}
